---
---
{% include header.html %}
<section>
  <h2>About</h2>
  <time>Last updated 09/08/2024</time>
</section>
<section>
    <img style="width: 150px; border-radius: 150px; float: left; margin-right:40px;margin-bottom:20px;"
        src="../images/fish_eye.jpg">
    <p>
        Former shareholder value creator turned desert ground sloth. Reestablishing a relationship with time, place, and people. Reskilling in the Sonoran desert, harvesting rainwater to grow community foodscapes, collecting solar energy to light our way. Sharing the abundance. Building dual power.<side-note>Or whatever the anti-hierarchical version of dual power is... multi-power? manifold power?</side-note>
    </p>
    <p>
        Attempting to keep the keyboard at more than arms length on average, but when it's within reach, I'm often making music, art, code, or some combination of all three.
    </p>
    <p>
        Exploring lately: optimistic visions of the future (social ecology, degrowth, usufruct, permaculture), food sovereignty, natural building, from-scratch cooking, crafts pushed aside in the descent to rampant consumerism, and figuring out how to carefully and minimually use technology in all of the above.
    </p>
    <p>I sometimes share things on <a rel="me" href="https://mastodon.social/@jacmb">Mastodon</a>.</p>
</section>
{% include side-notes.html %}
{% include footer.html %}