---
---
{% include header.html %}
<section>
  <h2>About</h2>
  <time>Last updated 09/08/2024</time>
</section>
<section>
    <img style="width: 150px; border-radius: 150px; float: right; margin-left:40px;margin-bottom:20px;"
        src="../images/fish_eye.jpg">
    <p>
        Tech world dropout turned garden slug. Reestablishing a relationship with time, place, and people. Reskilling in the Sonoran desert, harvesting rainwater to grow community foodscapes, collecting solar power. Sharing the abundance. Building dual power.
    </p>
    <p>
        <a href="/now.html">Lately</a>, my focus has been on community projects away from the computer. But, when behind a keyboard, I'm often making music, art, code, or some combination of all three.
    </p>
    <p>
        Exploring lately: optimistic visions of the future (social ecology, degrowth, usufruct, permaculture), food sovereignty, natural building, from-scratch cooking, crafts pushed aside in the descent to rampant consumerism, and figuring out how to carefully and minimually use technology in those scenarios.
    </p>
    <p>I sometimes share things on <a rel="me" href="https://mastodon.social/@jacmb">Mastodon</a>.</p>
</section>
{% include footer.html %}