---
---
{% include header.html %}
<section>
  <type-flair>🤫</type-flair>
  <h2>
    Good sleuthing, you found the secret drafts folder.
  </h2>
  <blockquote>Fred Rogers said you can grow ideas in the garden of your mind. Sometimes, once they’re little seedlings and can stand on their own, it helps to plant them outside, in a garden, next to the others.</blockquote>
  <p>
    - <a href="https://thecreativeindependent.com/essays/laurel-schwulst-my-website-is-a-shifting-house-next-to-a-river-of-knowledge-what-could-yours-be/">Laurel Schwulst</a>
  </p>
  <p>
    These are my not-yet-ready seedlings for the cyber garden. I won't ask you to leave, but do tread lightly and keep in mind nothing in here is finished. <abbr title="If there's something you really like tho, do let me know."><b>So please don't share.</b></abbr>
  </p>
  

  <ul id="wiki-list">
    {% assign sorted = site.drafts | sort: 'updated' | reverse %}
      {% for item in sorted %}

    <li>
        <wiki-date>{{ item.updated | date: "%b %d %Y" }}</wiki-date>
        <a class="wiki-list-title" href="{{ item.url }}">{{ item.title }}</a>
        <!--           {% for tag in item.tags %}
      <wiki-tag>{{ tag }}</wiki-tag>
      {% endfor %} -->
    </li>

    {% endfor %}
  </ul>
</section>
{% include footer.html %}
