---
---
{% include header.html %}
<section>
  <h2>What I'm up to now </h2>
  <time>Last updated 09/08/2024</time>
</section>
<section>
      <h3>Conservation Farming</h3>
      <p>
          Working with a local non-profit to conserve the native seeds and growing practices of the desert southwest.
      </p>
      <h3>Cooperatively Manufacturing Aid Supplies</h3>
      <p>
          I joined an effort called <a href="https://dmdm.mayfirst.org/">Distributed Medical Device Manufacturing</a> in Tucson&mdash; a spinoff of <a href="https://mutualaiddisasterrelief.org/">MADR</a>. The immediate goal is to employ people in the community to make tourniquets for mutual aid. Long term, we plan to make other mutual aid supplies to sell on a sliding scale. We're currently in the process of formalizing the organization's existence as a non-profit and a worker-owned cooperative. Our first project is the creation and donation of a run of tourniquets for use by aid workers in Gaza. 
      </p>
      <h3>Embracing the small / weird / wild web</h3>
      <p>
          In the rush to a new crop of corporate-owned social media sites, I've chosen a different path. Instead, I'm gleefully riding the resurgence in <a href="https://diagram.website">the internet</a> that is more personal, distributed, human, and handmade. The term <abbr title="An internet system in which the people who produce, distribute, and consume internet also control the mechanisms and policies of internet production and distribution.">"internet sovereignty"</abbr> is a good descriptor of what I'm seeing and seeking.
      </p>
      <p>
          The ongoing redesign of this website <a href="http://textfiles.com/underconstruction/"><img src="../images/construction.gif" style="float:left; margin-right: 20px"></a>is a step in that direction. As was joining Mastodon &mdash; where I am finding more aligned minds and sense of community than I ever did on Twitter etc.
      </p>
      <h3>Prototyping a different internet</h3>
      <p>
          A long-running project with <a href="https://mastodon.social/@lukexi">@lukexi</a> to make an internet thing in a long-neglected direction.
      </p>
      <!--     <div>
      <h3>Growing a distributed farm</h3>
      <p>
          Along with a lovely group of pals, I am in the process of creating a mutual aid organization. In the
          simplest of terms, the goal is to grow food with each other, for each other and others that need it. That
          means growing food in gardens across many locations in the Tucson Metro Area, connecting those that have
          access to land with those that do not. We help each other grow on the land and we all share in the
          abundance. Think mutual aid victory gardens with land-, labor-, skill-, and harvest-sharing. In Tucson? Give
          me a shout.
      </p>
  </div> -->
</section>
{% include footer.html %}