#horizon {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgb(134, 121, 84, 0.2) 100%);
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
#sky {
  height: 80px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.75;
  background: linear-gradient(0deg, rgba(149, 214, 241, 1) 0%, rgba(133, 193, 235, 1) 50%, rgba(48, 110, 169, 1) 100%);
  background: linear-gradient(0deg, rgba(149, 214, 241, 1) 0%, rgba(48, 110, 169, 1) 100%);
  background: linear-gradient(0deg, rgb(147, 213, 241) 0%, rgb(109, 179, 218) 33%, rgb(76, 145, 195) 66%, rgb(48, 112, 171) 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 91% 58%, 77% 68%, 64% 20%, 41% 62%, 26% 29%, 10% 90%, 0% 100%);
}
top-bg {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  height: 100%;
  opacity: 0.6;
  background: url("/images/brownmountain.jpg") repeat;
  mix-blend-mode: color;
  background-size: cover;
}
section h3:first-child {
  margin-top: 0px;
}
img.full {
  width: 100%;
}
img {
  transition: transform .2s;
  s
}
img:hover {
  /*  transform: rotate(360deg);*/
}
.space-mono {
  font-family: SpaceMono, Menlo, Helvetica-neue, Helvetica, sans-serif;
}
h2 {
  font-family: SpaceMono, Menlo, Helvetica-neue, Helvetica, sans-serif;
  font-style: italic;
  letter-spacing: -0.1px;
}
.italic {
  font-style: italic;
}
nav {
  /*    margin:auto;*/
  width: 14em;
  /*    left: 30px;*/
  position: absolute;
  /*  float: left;*/
  margin-bottom: 60px;
}
nav ul {
  /*  font-family: SpaceMono, Menlo, Helvetica-neue, Helvetica, sans-serif;*/
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  /*  font-size: 14px;*/
}
nav li {
  /*  font-family: SpaceMono, Menlo, Helvetica-neue, Helvetica, sans-serif;*/
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
nav a[href] {
  color: var(--coffee);
  /*  color: black;*/
}
#content, section, footer, header {
  max-width: 34em;
  margin: 0px 15em;
  padding: 0px 0px 60px 0px;
  /*  margin-left: 10%;*/
}
main {
  /*  background: burlywood;*/
  margin: 0px auto;
  max-width: 64em;
  padding: 80px 20px 60px 20px;
  position: unset;
  /*  margin-top: 160px;*/
  /*  margin-left:250px;*/
}
footer {
  clear: both;
}
p, ul, blockquote, ol {
  /*  font-family: Menlo, "Courier New", monospace;*/
  /*  font-size: 12px;*/
  line-height: 1.4em;
  position: relative;
}
p img.full {
  width: 100%;
}
ol, ul {
  /*  margin: 0px;*/
  /*  padding: 0px;*/
  /*    list-style-position: inside;*/
}
li {
  /*  margin-left:15px;*/
}
section {
  position: relative;
}
section.wide {
  max-width: unset;
  margin: 0em 0em 0em 15em;
  padding: 0px 0px 60px 0px;
}
details {
  margin-top: 20px;
  margin-left: 0px;
}
summary {
  cursor: pointer;
}
summary:hover {
  text-decoration: underline;
}
details p, details ol, details ul {
  /*  border-left: 1px dotted rgba(0, 0, 0, 0.1);*/
  /*  margin-left: 6px;*/
  /*  padding-left: 20px;*/
}
details li {
  margin-bottom: 10px;
}
details figure {
  /*  width: 64em;*/
  /*  margin-left: -15em;*/
  margin: 20px 0px 20px -5em;
  width: 44em;
  /*  margin-top: 20px;*/
}
figure {
  margin-left: 0px;
}
figcaption {
  font-size: 12px;
  opacity: 0.75;
  text-align: center;
  margin-top: 5px;
}
.sidenote {
  position: absolute;
  /*  font-family: Menlo, "Courier New", monospace;*/
  font-size: 12px;
  line-height: 1.1em;
  width: 14em;
  display: block;
  right: -16em;
  margin-top: -1.4em;
  /* line height */
}
.callout {
  position: relative;
  top: -3px;
}
hr {
  margin: 60px 0px;
  border: 1px dotted black;
  opacity: 0.2;
}
table-of-contents {
  max-width: 14em;
  margin-right: 1em;
  margin-bottom: 40px;
  /*  float: left;*/
  position: absolute;
  left: -15em;
}
table-of-contents ol, table-of-contents ol li {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  list-style-position: inside;
  /*  font-family: Menlo, "Courier New", monospace;*/
}
top-note {
  background: rgb(0, 143, 105);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}
#wiki-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
#wiki-list li {
  margin-bottom: 15px;
}
.wiki-list-title {
  /*  font-size: 14px;*/
}
wiki-date {
  font-size: 14px;
  /*  opacity: 0.35;*/
  color: var(--sand-highlight);
  margin-right: 10px;
  font-family: Menlo, "Courier New", monospace;
}
wiki-tag {
  opacity: 0.6;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0px 4px;
  font-size: 12px;
  border-radius: 4px;
  display: inline-block;
}
time {
  font-size: 14px;
  display: inline-block;
  margin-top: -20px;
  /*  font-size: 12px;*/
  opacity: 0.5;
  font-family: Menlo, "Courier New", monospace;
}
/* h3 {
  display: inline;
} */

@media (max-width: 1024px) {
  main {
    padding: 40px 20px 40px 20px;
  }
  h2 {
    font-size: 1.7em;
  }
  footer {
    padding-bottom: 0px;
  }
  nav, table-of-contents {
    float: none !important;
    position: unset;
  }
  section, footer {
    margin: 0px !important;
  }
  .sidenote {
    position: unset;
    display: inline-block;
    width: auto;
    margin: 10px;
    /*    opacity: 0.6;*/
    /*    float: right;*/
  }
  .callout {
    display: none;
  }
}