<div id="horizon">
  <div id="sky">
  </div>
</div>
<nav>
  <ul>
    <li>
      <a href="/" class="space-mono" style="font-size:16px;">
        <b>
          <i>
            jacmb
          </i>
        </b>
      </a>
    </li>
    <!-- <li>
      <a href="audio.html">
        /audio
      </a>
    </li>
    <li>
      <a href="visual.html">
        /visual
      </a>
    </li> -->
    <li>
      <a href="/wiki">
        /wiki
      </a>
    </li>
    <li>
      <a href="/#recent">
        /recent
      </a>
    </li>
    <li>
      <a href="/#now.html">
        /now
      </a>
    </li>
    <li>
      <a href="/projects.html">
        /projects
      </a>
    </li>
    <!-- <li><a href="log.html">/log</a></li> -->
    <li>
      <a href="#about">
        /about
      </a>
    </li>
    <!-- <li>&nbsp;</li> -->
    <!-- <li><a href="https://mastodon.social/@jacmb">@jacmb@mastodon.social</a></li> -->
  </ul>
</nav>
