
<style>
  b {
/*    color: antiquewhite;*/
    color: indianred; /* is this a racism? */
  }
/*  h1 {
    font-size: 64px;
    margin: 0px;
  }*/
  nav{
/*    margin:auto;*/
    width: 15em;
/*    left: 30px;*/
/*    position: absolute;*/
    float: left;
    margin-bottom: 60px;
  }
  nav ul {
    font-family: SpaceMono, Menlo, Helvetica-neue, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
  }
  nav li {
    font-family: SpaceMono, Menlo, Helvetica-neue, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
</style>
<div id="horizon"><div id="sky"></div></div>

<nav>
  <ul>
    <li>
      <a href="/" style="text-decoration-color: indianred;"><b><i style="font-size: 20px">jacmb</i></b></a>
      <!-- <b><i style="font-size: 20px">jacmb</i></b> -->
    </li>
    <!-- <li><a href="audio.html">audio</a></li>
    <li><a href="visual.html">visual</a></li>
    <li><a href="research.html">research</a></li> -->
    <li><a href="#recent">/recent</a></li>
    <li><a href="#now.html">/now</a></li>
    <li><a href="/projects.html">/projects</a></li>
    <!-- <li><a href="log.html">/log</a></li> -->
    <li><a href="#about">/about</a></li>
    <!-- <li>&nbsp;</li> -->
    <!-- <li><a href="https://mastodon.social/@jacmb">@jacmb@mastodon.social</a></li> -->
  </ul>
</nav>
