<html>
<head>
  <title>JACMB</title>
  <link rel="stylesheet" href="/theme.css" />
  <link rel="stylesheet" href="/style.css" />
  <meta name="viewport" content="width=device-width" />
  <meta name="viewport" content="initial-scale=1.0" />
</head>
<body>
  <top-bg></top-bg>
  <main>
<!-- <div id="horizon">
  <div id="sky">
  </div>
</div> -->
    <nav>
      <ul>
        <li>
          <a href="/" class="space-mono" style="font-size:17px;font-weight:bold;font-style: italic;">jacmb</a>
        </li>
        <!-- <li>
          <a href="audio.html">
            /audio
          </a>
        </li>
        <li>
          <a href="visual.html">
            /visual
          </a>
        </li> -->
        <li>
          <a href="/log">
            /log
          </a>
        </li>
<!--         <li>
          <a href="/#recent">
            /recent
          </a>
        </li> -->
<!--         <li>
          <a href="/#now.html">
            /now
          </a>
        </li> -->
        <li>
          <a href="/projects.html">
            /projects
          </a>
        </li>
        <li>
          <a href="/links.html">
            /links
          </a>
        </li>
<!--         <li>
          <a href="/drafts.html" style="opacity:0">
            /drafts
          </a>
        </li> -->

        <!-- <li><a href="log.html">/log</a></li> -->
<!--         <li>
          <a href="#about">
            /about
          </a>
        </li> -->
        <!-- <li>&nbsp;</li> -->
        <!-- <li><a href="https://mastodon.social/@jacmb">@jacmb@mastodon.social</a></li> -->
      </ul>
    </nav>
