---
---
{% include header.html %}
<section>
  <h2>{{ page.title }}</h2>
  <!-- <time>{{ page.date | date: "%-d %B %Y" }}</time> -->
  <!-- <time>{{ page.date | date: "%-d %B %Y" }}</time> -->
  <!-- &#9788; -->
  <!-- &boxbox; -->
  <time>
    Created {{ page.published | date: "%b %-d %Y" }} &#12316; Edited {{ page.updated | date: "%b %-d %Y" }}
  </time>
<!--       {% for tag in page.tags %}
    <wiki-tag>{{ tag }}</wiki-tag>
  {% endfor %} -->
</section>
{{ content }}
{% include side-notes.html %}
{% include footer.html %}
